<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=Abu-Ghaith\\MSSQLSERVER; Database=DVLD;User Id=sa; Password=isa123456; "/>
		<add key="KokoConfig" value="Koko config value"/>
	</appSettings>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Server=Abu-Ghaith\\MSSQLSERVER; Database=DVLD;User Id=sa; Password=isa123456; "/>
	</connectionStrings>
	
</configuration>