<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=Abu-Ghaith\AMSSQLSERVER;Database=DVLD;User Id=sa;Password=isa123456;" />
		<add key="BackupFolder" value="F:\WindowsServices\DatabaseBackups" />
		<add key="LogFolder" value="F:\WindowsServices\DatabaseBackups\Logs" />
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>
</configuration>